# Python
__pycache__/
*.py[cod]
.venv/
venv/
venv312/

# Environment / secrets
.env
.env.*

# PostgreSQL local files
*.dump
*.backup

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large datasets
data/*.csv
data/*.xlsx
data/*.parquet

# Docker
docker-data/